body {
	text-align: center;
	color: aqua;
	margin: 0px;
    background: linear-gradient(to right, #00fffd, #e540ff);
}

header {
	text-align: center;
	font-size: 300%;
}

a {
	text-decoration: none;
	color: #4474ff;
}

.toy {
	/*google fonts*/
	font-family: "Nunito", "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 1000;
	font-style: normal;

	margin: 30px;
	box-shadow: 5px 10px 20px #1275ad;
	border: 2px solid aqua;
	border-radius: 40px;
	width: 300px;
	height: 325px;
	background: linear-gradient(#00fffd, #00ff00);
}

.toy:hover {
	box-shadow: 5px 10px 5px #093b57;
}

.toy h2{
	font-size: 250%;
}

#now {
	border: 5px dotted #08a0f7;
}

#nav {
	text-align: center;
	position: sticky;
	display: grid;
	grid-template-columns: 4fr 4fr 4fr 4fr;
	grid-template-rows: 2fr 2fr;
	top: 0px;
	width: 100vw;
	margin-bottom: 10px;
    height: 50px;
    background: #00ff3e;
}

#nav p {
	overflow: hidden;
    white-space: nowrap;
}

#toys-container {
	margin-top: 60px;
	text-align: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: auto auto;
    height: 100%;
}

@media (max-width: 1000px) {
    #toys-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 750px) {
    #toys-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 350px) {
	.toy {
		width: 250px;
		height: 260px;
	}
}













